<article class="hentry">
  <header>
  <h1 class="entry-title">{{ .Title }}</h1>
  <span class="entry-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
  {{ with .Params.categories }}
  &middot;
  <span class="entry-categories">
    {{ range . }}
    <a href="{{ $.Site.BaseURL }}/categories/{{ . | urlize | lower}}" class="category">{{ . }}</a>
    {{ end }}
  </span>
  {{ end }}
  {{ with .Params.tags }}
  &middot;
  <span class="entry-tags">
    {{ range . }}
    <a href="{{ $.Site.BaseURL }}/tags/{{ . | urlize | lower}}" class="tag">{{ . }}</a>
    {{ end }}
  </span>
  {{ end }}
  </header>
  <div class="entry-content">
  {{ .TableOfContents }}
  {{ .Content }}
  </div>
</article>

